.elementor-2 .elementor-element.elementor-element-21ec1ca > .elementor-container {max-width: 769px;}
.elementor-2 .elementor-element.elementor-element-07dc34e.elementor-widget-heading .elementor-heading-title {color: #7a7a7a;}
body.elementor-page-2 h3.blog-title.entry-heading, .elementor-page-title {display: none;}